@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#uiux{background: #eee;}

/*왼쪽배경이미지 영역/////////////*/
.w_bg{  
  position:absolute;
  top:0;
  left:0;
  width:700px;
  height:100%;
  overflow:hidden; 
}
.w_bg ul{
  width:7000px;  /*슬라이드가로 총길이(700*10=7000)*/
  height:inherit;
  position:relative;
  top:0;
  left:0;
}
.w_bg ul li{
  float:left;
  width:700px;
  height:inherit;
  background-repeat:no-repeat;
  background-size:cover;
  opacity:0.8;    
}
.w_bg ul li:nth-child(1){background-image:url(image/w_bg_01.jpg);}
.w_bg ul li:nth-child(2){background-image:url(image/w_bg_02.jpg);}
.w_bg ul li:nth-child(3){background-image:url(image/w_bg_03.jpg);}
.w_bg ul li:nth-child(4){background-image:url(image/w_bg_04.jpg);}	
.w_bg ul li:nth-child(5){background-image:url(image/w_bg_05.jpg);}
.w_bg ul li:nth-child(6){background-image:url(image/w_bg_06.jpg);}
.w_bg ul li:nth-child(7){background-image:url(image/w_bg_07.jpg);}
.w_bg ul li:nth-child(8){background-image:url(image/w_bg_08.jpg);}
.w_bg ul li:nth-child(9){background-image:url(image/w_bg_09.jpg);}
.w_bg ul li:nth-child(10){background-image:url(image/w_bg_10.jpg);}


/* 컨텐츠 영역(왼쪽 텍스트 + 오른쪽 태블릿) //////////// */
.webd_in{  
  /* border: 2px solid blue; */
  position:absolute;
  top:0;
  left:320px;
  width:1400px;
  height:100%;
  display: flex;
  align-items: center;
}

/*왼쪽 텍스트영역_____________________*/
.w_txt{ 
  /* border: 1px solid orange; */
  width:450px;
}
.title_text{
  display: flex;
  align-items: center;
}
.title_text h2{
  font-family:'Abril Fatface', cursive;
  font-size:120px;
  font-weight:normal;   
  letter-spacing:-5px;
  color:#fff;
  text-shadow:-7px 10px 4px rgba(0,0,0,0.3);
}
.title_text span{
  font-family:'Raleway', sans-serif;
  font-size:15px;
  font-weight:normal;
  color:#fff;
  text-transform:uppercase;
  margin-left:10px;
  padding-top:45px;
  text-shadow:-7px 10px 4px rgba(0,0,0,0.3);
}
.title_text strong{
  display: block;
  font-family:'Exo', sans-serif;
  font-size:32px;
  font-weight:700;
  text-indent:10px;
  color:#fff;
  text-transform:uppercase;
}
.w_title .title_bar{  /*왼쪽흰색선*/
  clear:both;
  display:block;
  width:1000px;
  height:1.5px;
  background:#fff;
  position:relative;
  box-shadow:-10px 10px 4px rgba(0,0,0,0.3); 
}
.w_title .title_bar span{  /*오른쪽 회색선*/
  width:620px;
  height:1.5px;
  background:#4d4c4a;
  position:absolute;
  right:0;
}

/* 01~10 숫자 */
.w_slide_btn{
  /* border: 1px solid red; */
  width: 100%;
	height:40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.w_slide_btn>span{  /*깜빡이는 화살표*/
	font-size:30px;
	color:#fff;
	opacity:0;
	transition:all 0.5s;
}
.w_slide_btn>span.active{opacity: 1;}  /*jQuery에서 불러냄*/
.w_list{display: flex;}
.w_list li{
  font-size:20px;
  font-weight:700;
  padding:0 5px;
  color:#999;
  cursor:pointer;
}
.w_list li.btn_active{
	color:#fff;
	text-shadow:-7px 10px 4px rgba(0,0,0,0.3);
}


/*설명텍스트 영역*/
.w_txt_slide{
  width:350px;
  height:300px;
  position:relative;    
  overflow:hidden;
}
.w_txt_slide ul{
  width:3400px;  /*슬라이드 총가로폭(340*10=3400)*/
  height:inherit;
  position:absolute;
  top:0;
  left:0;
}
.w_txt_slide ul li{
  float:left;
  width:330px;
  height:300px;
  padding-left:10px;
  color:#fff;
}
.ptitle{
  font-size:28px;
  font-family: 'Bebas Neue', cursive;
  color:#fff;
}
.ptext{
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  color:#fff;
}
.w_txt_slide ul li span{  /*Detail 버튼*/
  display:block;
  width:200px;
  height:28px;
  font-weight:700;
  line-height:28px;
  text-align:center;
  background:#fff;
  color:#635181;
  margin-top:15px;
  border-radius:3px;
	cursor:pointer;
}
.w_txt_slide ul li span:hover{
  background:#635181;
  color:#fff;
  font-weight:normal;
}
.w_txt_slide ul li:nth-child(2) span{color:#086896;}
.w_txt_slide ul li:nth-child(2) span:hover{background:#086896;color:#fff;}
.w_txt_slide ul li:nth-child(3) span{color:#635181;}
.w_txt_slide ul li:nth-child(3) span:hover{background:#635181;color:#fff;}
.w_txt_slide ul li:nth-child(4) span{color:#4b5b8f;}
.w_txt_slide ul li:nth-child(4) span:hover{background:#4b5b8f;color:#fff;}
.w_txt_slide ul li:nth-child(5) span{color:#6d4b62;}
.w_txt_slide ul li:nth-child(5) span:hover{background:#253a56;color:#fff;}
.w_txt_slide ul li:nth-child(6) span{color:#4d4c4a;}
.w_txt_slide ul li:nth-child(6) span:hover{background:#4d4c4a;color:#fff;}
.w_txt_slide ul li:nth-child(7) span{color:#8dcaeb;}
.w_txt_slide ul li:nth-child(7) span:hover{background:#009fd9;color:#fff;}
.w_txt_slide ul li:nth-child(8) span{color:#b08f87;}
.w_txt_slide ul li:nth-child(8) span:hover{background:#b08f87;color:#fff;}
.w_txt_slide ul li:nth-child(9) span{color:#3a55a6;}
.w_txt_slide ul li:nth-child(9) span:hover{background:#ffcc00;color:#fff;}
.w_txt_slide ul li:nth-child(10) span{color:#b48341;}
.w_txt_slide ul li:nth-child(10) span:hover{background:#b48341;color:#fff;}


/*오른쪽 태블릿 영역_____________________*/
.w_tab{
  /* border: 1px solid green; */
  position:relative;
  width:917px;
  height:675px;
}
.w_tablet{  /*태블릿*/
  position:relative;
  width:917px;
  height:675px;
  z-index:100;
	background:url(image/tab.png);
}
.w_shadow{  /*태블릿 그림자*/
  position:absolute;
  top:30px;
  left:20px;
  width:850px;
  height:600px;
  border-radius:50px;
  box-shadow:20px 30px 20px rgba(0,0,0,0.3);
	z-index:0;
}

.w_tab_slide{ /*보여지는 영역*/   
  width:794px;
  height:555px;
  position:absolute;
  top:57px;
  left:48px;
  z-index:200; 
  overflow:hidden;
  border-radius:15px;
}
.w_tab_slide ul{
  width:7940px;  /*슬라이드 전체 가로폭(794*10=7940)*/
  height:auto;
  z-index:200;
  position:relative;
}
.w_tab_slide ul li{
  float:left;
  width:794px;
  height:553px;
  transition:background-position 1s;
  background-position:0 0;
  background-size:100% auto;
  background-repeat:no-repeat;
}

.w_tab_slide ul li:nth-child(1){background-image:url(image/win_img_01.jpg);}
.w_tab_slide ul li:nth-child(2){background-image:url(image/win_img_02.jpg);}
.w_tab_slide ul li:nth-child(3){background-image:url(image/win_img_03.jpg);}
.w_tab_slide ul li:nth-child(4){background-image:url(image/win_img_04.jpg);}       
.w_tab_slide ul li:nth-child(5){background-image:url(image/win_img_05.jpg);}   
.w_tab_slide ul li:nth-child(6){background-image:url(image/win_img_06.jpg);}  
.w_tab_slide ul li:nth-child(7){background-image:url(image/win_img_07.jpg);}   
.w_tab_slide ul li:nth-child(8){background-image:url(image/win_img_08.jpg);}   
.w_tab_slide ul li:nth-child(9){background-image:url(image/win_img_09.jpg);}   
.w_tab_slide ul li:nth-child(10){background-image:url(image/win_img_10.jpg);}


/*모달창 영역 //////////////////////*/
#w_popup{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	overflow:auto;
}
.w_pop_body{
	position:relative;
	height:100%;
	margin:0 auto;
	width:1400px;
	background:#fff;
	z-index:1000;
}
.w_back{ /*메뉴 뒤로 나오는 검정배경*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}
.w_pop>li{
	width: 1400px;
	position: absolute;
	text-align: center;
	cursor: default;
	background: #fff;
	display: none;
}
.w_pop>li p{
	text-align:center;
	font-size:30px;
}

/*버튼영역*/
.w_btn{
	position:fixed;
	left:50%;
	top:0;
	margin-left:710px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.w_btn>li{
	cursor: pointer;
	overflow: hidden;
}
.w_btn .w_btn_close{ /*닫기버튼*/
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #fff;
}
.w_btn .w_btn_close span{ /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}
.w_btn .left_btn, .w_btn .right_btn{float:left;}
.w_btn .left_btn span, .w_btn .right_btn span{
	position:relative;
	top:10px;
	font-size:30px;
	width:40px;
	height:50px;
}
.w_btn .w_page{ 
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
  border-top:1px solid #fff;
}
